@use "variables" as *;

footer {
  margin-top: $margin-xlg;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-lg;
  background-color: #e6d8c6;
  height: 50vh;

  .contactContainer {
    .businessCard {
      width: 400px;
      height: 240px;
      box-shadow: $card-shadow;
      background-color: #e6d8c6;
      display: flex;
      align-items: center;

      .logoContainer {
        width: 40%;
        display: flex;
        padding: $padding-sm;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
        }
      }

      .contactInfo {
        padding: $padding-sm;
        margin-top: $margin-lg;

        h2 {
          margin-bottom: 0;
          font-size: 1.5em;
          color: $primary;
        }

        h3 {
          margin-top: 0;
          font-weight: 400;
          font-style: italic;
          font-size: 1em;
          color: $primary;
        }

        a {
          color: $primary;
          text-decoration: none;
          transition: $transition;

          &:hover {
            text-decoration: underline;
          }
        }

        .linkContainer {
          margin-top: $margin-lg;
          display: flex;
          justify-content: center;
          gap: $margin-sm;

          a {
            transition: $transition;

            img {
              width: 30px;
            }

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
