@use "variables" as *;

.navContainer {
  box-shadow: $box-shadow;
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $padding-lg;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $secondary;
        text-transform: uppercase;
        padding: $padding-sm;
        margin: $margin-sm;
        transition: $transition;

        &:hover {
          outline: solid 2px $accent;
          transform: scale(1.2);
        }
      }
    }
  }
}

@media screen and (min-width: $tablet_breakpoint) {
}

@media screen and (min-width: $desktop_breakpoint) {
  .navContainer {
    .navbar {
      height: 10vh;
    }
  }
}
