@use "variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $fontSize;
  font-family: $fontFamily;
  background-color: $primary;
  scroll-behavior: smooth;
}
