// font
$fontFamily:
  Bahnschrift, "Segoe UI", "Franklin Gothic Medium", Arial, sans-serif;
$fontSize: 16px;

// colors
$primary: #24201c;
$secondary: #dccbb6;

// button colors
$button_bg: #6f7f3a;
$button_hover: #515d2a;

// shadows and overlays
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
$inset: inset 0 2px 4px rgba(0, 0, 0, 0.3);
$overlay: rgba(0, 0, 0, 0.45);
$transition: 0.2s ease;

// padding, margin... har bara skapat ungefär kan ändras
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;
$margin-xlg: 2.5rem;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;

$line-height: 1.5rem;

$button-size: 3rem;

// breakpoints
$tablet_breakpoint: 660px;
$desktop_breakpoint: 1200px;
