// font
$fontFamily:
  Bahnschrift, "Segoe UI", "Franklin Gothic Medium", Arial, sans-serif;
$fontSize: 16px;

// colors
$primary: #24201c;
$secondary: #dccbb6;
$accent: #ff8c00;

// shadows and overlays
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
$inset: inset 0 2px 4px rgba(0, 0, 0, 0.3);
$transition: 0.2s ease-in-out;

// padding, margin... har bara skapat ungefär kan ändras
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;
$margin-xlg: 5rem;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;

// breakpoints
$tablet_breakpoint: 660px;
$desktop_breakpoint: 1200px;
